# Dependencies
node_modules

# Build
dist

# Lockfiles (keep bun.lockb)
package-lock.json
yarn.lock
pnpm-lock.yaml

# Environment
.env
.env.local
.env.*.local

# TypeScript
*.tsbuildinfo

# OS
.DS_Store

# Editor
*.local
